html 
    head    
        title Petanca League 
    body    
        header  
          nav 
            ul 
                li Home 
                li About 
                li Contacto 
        main 
            block content 
        footer